body {
  background-color: antiquewhite;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
.cells {
  border: solid;
  background-color: white;
  border-width: 0px;
}

.firstButtonContainer,
.secondButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 100px;
}

.changeGridSize,
.changeToRedBtn,
.changeToGreenBtn,
.changeToBlueBtn,
.changeToBlackBtn,
.resetButton,
.holdDownButton,
.eraseButton {
  border-radius: 28px;
  padding: 5px;
  background-color: antiquewhite;
  font-family: pixelFont;
}

.bodyContainer {
  display: flex;
  align-items: center; /* Vertical alignment */
  height: 100vh; /* Full viewport height */
  justify-content: center;
  gap: 16px;
}

@font-face {
    font-family: pixelFont;
    src: url(pixel.ttf);
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 16px;
  font-family: pixelFont;
}