body {
    background-color: antiquewhite;
}
#container {
    display: flex;
    flex-wrap: wrap;
}
.cells {
    border: solid;
    width: 50px;
    height: 50px; 
    background-color: white;
}

.firstButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100px;
}

.btn,
.changeToRedBtn,
.changeToGreenBtn,
.changeToYellowBtn,
.changeToBlackBtn {
    border-radius: 28px;
    padding: 5px;
    background-color: antiquewhite;
}

.bodyContainer {
    display: flex;
    align-items: center; /* Vertical alignment */
    height: 100vh; /* Full viewport height */
    justify-content: center;
    gap: 16px;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 0%;
}